body {
	background-image: url('beijing.jpg'); /* 通过路径引用你的图像 */
  background-size: cover; /* 背景大小随视口大小而变化 */
  background-repeat: no-repeat;
  background-position: center; /* 将背景图像居中 */
}
.enter-button {
	position: fixed;
	top: calc(50% + 2.5rem);            
	left: calc(60% - 6rem - 7rem);   
	padding: .5rem;
	background-color: #2955CC;
	color: #fff;
	font-size: 1.5rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
